@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #5a3e79;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 500px;
    margin: auto;
    padding: 30px;
    background: #c197d2;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #67595e;
    border-radius: 5px;
}

button {
    width: 20vw;
    margin-top: 20px;
    padding: 10px;
    background: #67595e;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

.result-box {
    margin-top: 20px;
    padding: 15px;
    color: #5a3e79;
    border: 1px solid #5a3e79;
    border-left: 6px solid red;
    background: #d3b5e5;
}